@use "./vendor";

@use "./abstracts/vars";
@use './abstracts/mixins';




//typographic reset 
h1 ,h2 ,h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 0;
    font:inherit;
}
* {
    box-sizing: border-box; 
}
html{
    min-height: 100vh;
}
ul,li{
    list-style: none;
}


body{
    h1{
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 4rem;
    }
    h2{
        margin-bottom: 1rem;
        font-weight: bold;
    }
    p{
        font-weight:400;
    }
    font-family: vars.$color_light-gray;
    
    min-height:100%;
   
    @include mixins.breakpoint(phone){
        //background-color:vars.$SUorange;
        font-size: 1rem;
        margin-bottom:.2rem;
    }
    @include mixins.breakpoint(tablet){
        //background-color: wheat;
        ul{font-size:1rem}
        font-size: 2rem;
        margin-bottom:1.2rem;
    }
    @include mixins.breakpoint(laptop){/*background-color: vars.$color_light-gray;*/}
    @include mixins.breakpoint(desktop){/*background-color:vars.$color_light-gray;*/}
   
}

